@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
	background-color: antiquewhite;
}

*{
	margin: 0;
	padding: 0;
}

nav{
	font-family: 'ubuntu', sans-serif;
}

nav ul{
	display: flex;
	align-items: center;
	list-style-type: none;
	height: 65px;
	background-color: black;
	color: white;
}
nav ul li{
	padding: 0 12px;
}

.brand img{
	width: 44px;
	padding: 0 8px;
}

.brand{
	display: flex;
	align-items: center;
	font-weight: bolder;
	font-size: 1.3rem;
}

.container{
	min-height: 72vh;
	background-color: black;
	color: white;
	font-family: 'varela Round', sans-serif;
	display: flex;
	width: 70%;
	margin: 23px auto;
	border-radius: 12px;
	padding: 34px;
	background-image: url('bg.jpeg');
	
}

.bottom{
	position: sticky;
	height: 100px;
	background-color: black;
	color: white;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.icons{
	margin-top: 15px;
}

.icons i{
	cursor: pointer;
}
#myProgressBar{
	width: 80vw;
	text-align: center;
	cursor: pointer;
}

.songItemContainer{
	margin-top: 74px;
}
.songItem{
	height: 50px;
	display: flex;
	background-color: white;
	/* width: 80%; */
	color: black;
	margin: 12px 0;
	justify-content: space-between;
    align-items: center;
    border-radius: 25px;
	/* Card css */
	/* display: flex;
	align-items: center;
	padding: 10px;
	margin: 10px 0;
	background: #f5f5f5;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

.songItem img{
	width: 43px;
	margin: 0 23px;
	border-radius: 25px; 
	/* Card css */
	/* width: 50px;
	height: 50px;
	border-radius: 8px;
	margin-right: 10px; */
}

.timestamp{
	margin: 0 23px;
}

.songInfo{
	position: absolute;
	left: 10vw;
	font-family: 'varela Round', sans-serif;
}

.songInfo img{
	opacity: 0;
	transition: opacity 0.8s ease-in;

}

.timestamp i{
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(104, 206, 231);
  }
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}